:root {
  --blue: #0284c7;
  --grey: #e2e8f0;
  --orange: #facc15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  background-color: grey;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1fr;
  grid-template-areas: 
                "sidebar header"
                "sidebar main"
                "sidebar main"
                "sidebar main"
                "sidebar main";
}

.header {
  grid-area: header;
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--blue);
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 4rem;
}

.sidebar .logo {
  padding: 1.5rem 0 0 1rem;
  font-size: 2em;
}

.sidebar .logo i {
  font-size: 2rem;
}

.sidebar .logo a{
  display: flex;
  align-items: center;
}

.sidebar .list li{
  padding: 0 0 1.5rem 1.5rem;
}
.sidebar a{
  color: white;
}

.sidebar a:hover {
  color: greenyellow;
}

.sidebar a i {
  margin-right: 1rem;
}


.main {
  grid-area: main;
  background-color: var(--grey);
}