:root {
  --blue: #0284c7;
  --grey: #e2e8f0;
  --orange: #facc15;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  background-color: grey;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: 1fr;
  grid-template-areas: 
                "sidebar header"
                "sidebar main"
                "sidebar main"
                "sidebar main"
                "sidebar main"
                "sidebar main"
                "sidebar main";
}

.header {
  grid-area: header;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 4px 6px rgb(0, 0, 0, .2);
  z-index: 1;
}

.header .search {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 1rem;
}

.header .search i {
  margin-right: 1rem;
}

.header .search .search-input{
  flex: 1;
  height: 1.6rem;
  border-radius: 10px;
  border: none;
  background-color: var(--grey);
}

.header .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 5rem;
}

.header .profile p {
  font-weight: 700;
}

.header .profile i{
  font-size: 1.5rem;
}

.header .profile img{
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--orange);
  border-radius: 100%;
  object-fit: cover;
}

.header .greetings {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 3rem 1rem 3rem;
}

.header .greetings img {
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--orange);
  border-radius: 100%;
  object-fit: cover;
}

.header .greetings .side p:first-child {
  font-size: .85rem;
  font-weight: 500;
}
.header .greetings .side p:last-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.header .actions {
  display: flex;
  justify-content:center;
  align-items: center;
  padding-right: 3rem;
}

.header .actions ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header .actions a {
  font-size: .9rem;
  background: var(--blue);
  color: white;
  font-weight: 700;
  padding: .7rem 2rem;
  border-radius: 20px;
}

.header .actions a:hover {
  background-color: #075981;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--blue);
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 4rem;
  box-shadow: 2px 0 6px rgb(0, 0, 0, .2);
  z-index: 0;
}

.sidebar .logo {
  padding: 1rem 0 0 1rem;
  font-size: 2em;
}

.sidebar .logo i {
  font-size: 2rem;
}

.sidebar .logo a{
  display: flex;
  align-items: center;
  font-weight: 500;
}

.sidebar .list li{
  padding: 0 0 1.5rem 1.5rem;
}
.sidebar a{
  color: white;
  font-weight: bold;
}

.sidebar a:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.sidebar a i {
  margin-right: 1rem;
}


.main {
  grid-area: main;
  background-color: var(--grey);
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2rem 2rem 1rem 1rem;
}
.main .projects {
  padding-right:1.5rem;
}
.main .projects .cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.5rem;
}

.main .projects .card{
  border-left: 0.5rem solid var(--orange);
  padding: 2rem 1.5rem;
  display: grid;
  grid-template-rows: 80% 20%;
  gap: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.main .projects .card p:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.main .projects .card p:last-child {
  color: gray;
}

.main .projects .icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.3rem;
}

.main .updates {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main .updates .annoucements ul {
  display: grid;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color:white;
  border-radius: .5rem;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.main .updates .announcement{
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

.main .updates li:last-child {
  border-bottom: none;
}

.main .updates .annoucements .title {
  font-size: 1rem;
}

.main .updates .annoucements p{
  font-size: .85rem;
  color: gray;
}